---
import Projects from "../assets/projects.astro";
import About from "../assets/about.astro";
import Contact from "../assets/contact.astro";
import Skills from "../assets/skills.astro";
const { lang } = Astro.props;

const labels = {
  en: {
    skills: "skills",
    projects: "projects",
    about: "about me",
    contact: "contact",
  },
  el: {
    skills: "δεξιότητες",
    projects: "πρότζεκτς",
    about: "σχετικά με μένα",
    contact: "επικοινωνία",
  },
};
---

<div class="flex flex-wrap justify-center gap-12 text-xl text-text">
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
    href={`/${lang}/skills/`}
  >
    <Skills class="size-5"/>
    {labels[lang].skills}
  </a>
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
    href={`/${lang}/projects/`}
  >
    <Projects class="size-5"/>
    {labels[lang].projects}
  </a>
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
    href={`/${lang}/about_me/`}
  >
    <About class="size-5"/>
    {labels[lang].about}
  </a>
  <a
    class="flex flex-row items-center gap-2 text-lg transition-transform duration-200 transform hover:scale-105 hover:text-text/80"
    href={`/${lang}/contact/`}
  >
    <Contact class="size-5"/>
    {labels[lang].contact}
  </a>
</div>
